@model BareboneUi.Pages.Home.StartSwitchViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Start Switch</h1>

@{
    Html.RenderPartial("_ErrorPartial", Model);
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td><label for="Postcode">Postcode</label></td>
            <td><input id="Postcode" name="Postcode" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2" align="right"><button id="submitPostcode" type="submit">Submit</button></td>
        </tr>
    </table>
}
